{% extends 'template.front.twig' %}

{% block content %}

    <div class="container">

        <h1 class="text-center p-4">Publications</h1>

    {% for row in article %}

    {% block title %}<title>{{ row.title }}</title>{% endblock %}

        <h4>{{ row.title }}</h4>
        <p>{{ row.content }}</p>

    <hr class="m-4" />

    {% for comment in comments %}

    <div class="card">
    <p class="text-justify p-4">{{comment.content}}<p>
    </div>

    {% endfor %}

    <hr class="m-4"/>
    {% if session.logged == true %}
    <form method="POST" action="?p=addComment&id={{row.id}}">
        <div class="form-group">
            <label for="content">Message</label>
            <textarea class="form-control form-control-lg" id="_content-comment" name="content" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Ajouter</button>
    </form>
    {% endif %}

    </div>

    {% endfor %}

{% endblock %}