{% extends 'template.front.twig' %}

{% block title %}<title>{{title}}</title>{% endblock %}

{% block content %}

    {#-- MESSAGE FLASH --#}
    {% if session.flash is defined %}
        <div id="flashMessage" class="bg-{{session.color}}">{{session.flash}}</div>
    {% endif %}

    {#-- BLOC TITRE --#}
    <div class="title-bloc-page">
        <h3><i class="fas fa-feather-alt"></i></h3>
    </div>

    {#-- AFFICHAGE DES ARTICLES --#}
    <div class="container">

    {% for row in article %}

        {#-- BLOC ARTICLE --#}
        <div class="bloc_article_single shadow">
        <img src="/images/uploads/{{row.pictureAlt}}" alt="" class="img-profil"/>
            <div class="items_article">
                <h4 class="title_article_single">{{ row.title }}</h4>
                <p class="p_article_single">{{row.content|raw}}</p>
            </div>
            <div class="btn_article">
                {#-- Fonction JS pour le retour en arrière --#}
                <a id="returnPageHome" class="btn_single" href="#">Retour aux articles</a>
                <p class="date_single">{{article.createdAt | date('d-m-Y')}}</p>
            </div>
        </div>

    </div>

    {#-- AFFICHAGE COMMENTAIRES --#}
    <div class="container">

    {% for comment in comments %}

    {#-- BLOC COMMENTAIRES --#}
    <div id="report_comments" class="bloc_comment shadow-sm">
        <h5 class="title_comment">{{comment.firstName}} {{comment.lastName}}</h5>
            <p class="p_comment">{{comment.content}}<p>
        <div class="bloc_bottom_comment">
            <p class="date_comment">{{comment.createdAt|date("d-m-Y")}}</p>
            {% if session.logged == true %}
            <a href="/reportComment/{{row.id}}/{{comment.id}}/#report_comments">
            {% if comment.report == 0 %}
            <span class="icon_comment" style="color:#333333"><i class="fas fa-exclamation-triangle"></i></span>
            {% else %}
            <span class="icon_comment" style="color:#dc3545"><i class="fas fa-exclamation-triangle"></i></span>
            {% endif %}
            </a>
            {% endif %}
        </div>
    </div>

    {% endfor %}

    {#-- BLOC AJOUT COMMENTAIRE --#}
    {% if session.logged == true %}
    <form method="POST" action="/addComment/{{row.id}}/#anchor_comments" class="bloc_add_comment shadow-sm" id="write-comment">
        <div class="form-group">
            <label for="content">Message</label>
            <textarea class="form-control form-control-lg" id="_content-comment" name="content" rows="5"></textarea>
        </div>
        <button type="submit" class="btn_add_comment">Ajouter</button>
    </form>
    {% endif %}

    </div>

    {% endfor %}

{#-- FONCTION TWIG SUPPRESSION VARIABLE MESSAGE FLASH --#}
{{flashMessage()}}

{% endblock %}