{% extends 'template.back.twig' %}

{% block title %}<title>Tabeau de bord</title>{% endblock %}

{% block content %}

    {# AFFICHAGE DES STATISTIQUES #}
    <div class="container-fluid container-back-stats shadow">

        <div class="container">
            <div class="item-1">
                <p>nombre de publications</p>
                <span>{{ articles|length }}</span>
            </div>
            <hr/>
            <div class="item-1">
                <p>nombre de commentaires</p>
                <span>{{ comments|length }}</span>
            </div>
            <hr/>
            <div class="item-1">
                <p>nombre d'utilisateurs</p>
                <span>{{ users|length }}</span>
            </div>
            <hr/>
            <div class="item-1">
                <p>Commentaires en attente de modération</p>
                <span>{{ reportComment|length }}</span>
            </div>
        </div>

    </div>

    {# AFFICHAGE DES ARTICLES #}
    <div class="container-fluid container-back-article">

    {# MESSAGE DE RETOUR #}
    {% if session.returnMessage is not empty %}
        <div class="col-8 mx-auto text-center alert alert-{{session.colorMessage}}" role="alert">
            {{session.returnMessage}}
        </div>
    {% endif %}

    {# BLOC ARTICLES #}
    {% for article in articles %}
        <div class="container">
            <div class="bloc_article_back shadow">
                <span><a href="?p=deleteArticle&id={{article.id}}" onclick="return confirm('Confirmez-vous la suppression ?');">&times;</a></span>
                <h4><a href="?p=articleBack&id={{article.id}}">{{ article.title }}</a></h4>
                <p>{{ article.content|u.truncate(400, '...') }}</p>
            </div>
        </div>

    {% endfor %}

    </div>

{% endblock %}