{% extends 'template.front.twig' %}

{% block title %}<title>Accueil</title>{% endblock %}

{% block content %}

        <h1 class="text-center p-4">Publications</h1>

    {% for article in articles %}

        <div class="bloc_article shadow">
        <img src="/images/header.jpg" alt="" class="img-profil"/>
            <div class="items_article">
                <h4 class="title_article"><a href="?p=article&id={{article.id}}">{{ article.title }}</a></h4>
                <p class="p_article">{{ article.content|u.truncate(300, '...') }}</p>
            </div>
            <div class="btn_article">
            {% for user in users %}
                <p>{{user.firstName}} {{user.lastName}}</p>
            {% endfor %}
                <p>{{article.createdAt | date('d-m-Y')}}</p>
            </div>
        </div>

    {% endfor %}

    {% if returnMessage is defined %}

    <div class="alert alert-{{colorMessage}}" role="alert">
        {{returnMessage}}
    </div>

    {% endif %}

{% endblock %}